<!DOCTYPE html>
<html>
<head>
    <title>Course List</title>
</head>
<body>
    <h1>Courses</h1>
    <a href="{% url 'course_create' %}">Add New Course</a>
    
    <ul>
        {% for course in courses %}
            <li>
                <table border="1">
                    <tr>
                        <th>Course Name</th>
                        <th>Description</th>
                        <th>Instructor</th>
                        <th>Credits</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                        <td>{{ course.courseName }}</td>
                        <td>{{ course.description }}</td>
                        <td>{{ course.instructor }}</td>
                        <td>{{ course.credits }}</td>
                        <td>
                            <a href="{% url 'course_update' course.pk %}">Edit</a>
                            <a href="{% url 'course_delete' course.pk %}">Delete</a>                    </tr>
                </table>
            </li><br><br>
        {% empty %}
            <li>No courses available.</li>
        {% endfor %}
    </ul>
</body>
</html>
